body {
  background-color: #fafafa;
  position: relative;
  height: 100vh;
}
body *,
body *:before,
body *:after {
  transition: none 0.2s ease-in-out;
}
#login {
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.interim-login #login {
  padding: 15px 30px;
  margin: 5px auto 20px;
  transform: none;
  left: 0;
}
.login h1 a {
  width: 100%;
  height: 7.5rem;
  background-image: url('../images/branding/logo.png');
  background-size: contain;
}
.login form {
  padding: 2rem;
  position: relative !important;
  box-shadow: none;
  border: 4px solid rgb(240, 240, 240);
}
.login label {
  font-weight: 300;
}
.login input#wp-submit {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0;
  border: 0;
  float: none;
  line-height: 2.5rem;
  height: auto;
  text-shadow: none;
  color: white;
  background-color: #4fc08d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  transition-property: background-color, box-shadow, transform;
  box-shadow: none;
}
.login input#wp-submit:hover {
  background-color: #364761;
  transform: scale(1.02, 1.02);
  box-shadow: 3px 3px 30px 3px rgba(80,184,122,0.2);
}
.login #nav { text-align: center; }
.login #nav a { color: #364761; }
.login #nav a:hover { color: #4fc08d; }
.login #backtoblog {
  display: none;
}
