button,
[role='button'],
.btn,
[type='submit'] {
    background-color: $color-primary;
    border: 0px;
    box-shadow: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: @pt-sans;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.009375em;
    line-height: 1.125;
    margin: 20px;
    padding: 0.7em 3.3em;
    transform: translate3d(0, 0, 0) scale(0.999);
    width: auto;
    position: relative;
    .transition(all);

    &:hover:not(.btn-disabled),&:focus:not(.btn-disabled) {
      background-color: $color-primary-light;
      color: #ffffff;
      outline: 0px;
      transform: translate3d(0, 0, 0) scale(1.02);
      box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    }
}

.btn-sm {
    font-size: 1.125rem;
    padding: 0.55em 2.95em;
}
