/*------------------------------------*\
  VARIABLES
\*------------------------------------*/

@import "breakpoints.scss";

/* Widths */
$max-width: 1200px; // max-width for content
$gutter-width: 2rem; // default gutter-width

/* COLORS */

/* Default Color Variables */

$color-primary: #4fc08d;
$color-primary-dark: darken($color-primary, 15%);
$color-primary-light: lighten($color-primary, 15%);

$color-secondary: #364761;
$color-secondary-dark: darken($color-secondary, 15%);
$color-secondary-light: lighten($color-secondary, 15%);

$color-tertiary: #0073aa;
$color-tertiary-dark: darken($color-tertiary, 15%);
$color-tertiary-light: lighten($color-tertiary, 15%);

$color-text: #2c3e50;
$link-color: $color-primary;
$link-hover: $color-primary-dark;

/* FONT FAMILIES */
